{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Good Libes</title>
  </head>
  <body>
    <nav>
      <div class="linkset left">
        <a href="{% url 'goodlibes-home' %}">Home</a>
        <a href="{% url 'goodlibes-about' %}">About</a>
      </div>
    </nav>

    {% if messages %} {% for message in messages %}
    <section id="alert">{{ message }}</section>
    {% endfor %} {% endif %}

    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
